@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");

* {
  margin: 0;
}

:root {
  --box-margin: 20px;
}

:root.light {
  background-color: white;
  color: black;
  --settings-div-color: whitesmoke;
  --border-color: black;
  --link-color: blue;
  --link-color-visited: purple;
  --timer-button-color: rgb(238, 238, 238);
}

:root.dark {
  background-color: rgb(18, 18, 18);
  color: white;
  --settings-div-color: rgb(36, 36, 36);
  --border-color: white;
  --link-color: lightblue;
  --link-color-visited: pink;
  --timer-button-color: lightgrey;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color-visited);
}

/* Footer support */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

/* Footer */
.footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-family: "Saira", sans-serif;
  font-size: 20px;
}

#dark-mode-button {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 50px;
  height: 30px;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border-color);
  background-color: var(--settings-div-color);
  border-radius: 10px;
  width: 400px;
  margin: var(--box-margin) auto;
}

.time-display {
  margin-bottom: var(--box-margin);
  font-size: 2rem;
}

.button-container {
  display: flex;
  flex: 1;
  width: 90%;
  margin-bottom: var(--box-margin);
}

.numeric-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-right: 5px;
}

.input-container {
  display: flex;
  min-width: 90%;
  flex-direction: column;
  margin-bottom: var(--box-margin);
  gap: 5px;
}

.input-container input:last-of-type {
  margin-bottom: var(--box-margin);
}

.button {
  flex: 1;
  min-width: 45px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.number-key {
  background-color: lightgreen;
  border: 2px solid green;
}

.number-key:hover {
  background-color: rgb(140, 220, 125);
  border-width: 2.5px;
}

.number-key:active {
  background-color: rgb(181, 235, 181);
  border-color: rgb(28, 156, 28);
}

#clear {
  flex: 1;
  min-width: 95px;
  min-height: 95px;
  background-color: pink;
  border: 2px solid salmon;
}

#clear:hover {
  background-color: lightpink;
  border-width: 2.5px;
}

#clear:active {
  background-color: rgb(255, 205, 214);
  border-color: lightsalmon;
}

#set-timer:hover {
  background-color: lightgray;
  border-color: darkgray;
}

#set-timer:active {
  background-color: rgb(231, 231, 231);
}

.labels-heading {
  margin: 0 auto;
}

#set-timer {
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.input-container>input {
  padding: 5px;
}

.timer-display-container {
  display: none;
  margin-top: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.timer-display-output {
  font-size: min(20vh, 20vw);
}

.timer-heading {
  font-size: min(8vh, 8vw);
}

.output {
  font-size: min(5vh, 5vw);
}

.timer-buttons-container>button {
  border-radius: 40px;
  width: 80px;
  height: 80px;
  margin: 5px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  background-color: var(--timer-button-color);
  border: none;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 300ms, 300ms;
}

.timer-buttons-container>button:hover {
  transform: scale(1.05);
}

.timer-buttons-container>button:active {
  background-color: darkgray;
}

#start-button[value="false"] {
  background-image: url("images/play.svg");
  background-position: 60% 50%;
}

#start-button[value="true"] {
  background-image: url("images/pause.svg");
}


#reset-button {
  background-image: url("images/refresh-ccw.svg");
}

#reset-button:hover {
  rotate: -360deg;
}

#settings-button {
  background-image: url("images/settings.svg");
}

.main-heading {
  margin-top: 5px;
}