@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

* {
    margin: 0;
}

:root {
    --box-margin: 20px;
}

/* Footer support */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

/* Footer */
.footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-family: 'Saira', sans-serif;
    font-size: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    margin: var(--box-margin) auto;
}

.time-display {
    margin-bottom: var(--box-margin);
    font-size: 2rem;
}

.button-container {
    display: flex;
    flex: 1;
    width: 90%;
    margin-bottom: var(--box-margin);
}

.numeric-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-right: 5px;
}

.input-container {
    display: flex;
    min-width: 90%;
    flex-direction: column;
    margin-bottom: var(--box-margin);
    gap: 5px;
}

.input-container input:last-of-type {
    margin-bottom: var(--box-margin);
}

.button {
    flex: 1;
    min-width: 45px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.number-key {
    background-color: lightgreen;
    border: 2px solid green;
}

.number-key:hover {
    background-color: rgb(140, 220, 125);
    border-width: 2.5px;
}

.number-key:active {
    background-color: rgb(181, 235, 181);
    border-color: rgb(28, 156, 28);
}

#clear {
    flex: 1;
    min-width: 95px;
    min-height: 95px;
    background-color: pink;
    border: 2px solid salmon;
}

#clear:hover {
    background-color: lightpink;
    border-width: 2.5px;
}

#clear:active {
    background-color: rgb(255, 205, 214);
    border-color: lightsalmon;
}

.labels-heading {
    margin: 0 auto;
}

#set-timer {
    min-width: 200px;
    min-height: 50px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.input-container>input {
    padding: 5px;
}

.timer-display-container {
    display: none;
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.timer-display-output {
    font-size: 6rem;
}

.timer-heading {
    font-size: 4rem;
}

.output {
    font-size: 2rem;
}

.timer-buttons-container>button {
    width: 80px;
}